body {
  font-family: Arial, sans-serif;
  background: #F7F6CF;
  color: #333;
  margin: 0;
  padding-top: 50px;
}

.container {
  /*max-width: 800px;*/
  /*margin: 50px auto;*/
  padding: 5px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

h1, h3 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  /*padding: 20px;*/
  /*margin-bottom: 20px;*/
}

th {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
} 

.table_header {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 1.5rem;
  background-color: #5784BA;
}

td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
  border-top-left-radius: 8px;
}

th {
  background-color: #9AC8EB;
  color: #1E0F1C;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #4AA3A2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: fit-content;
  align-self: center;
  font-size: 0.75rem;
}

button:hover {
  background-color: #27ae60;
}

.footer {
  position: fixed;
  left: 50%;
  bottom: 0;
  width: fit-content;
  color: black;
  text-align: center;
  align-self: center;
}